:host {
    background-color: var(--form-background-color);
    color: var(--form-foreground-color);
    display: block;
    font-size: var(--form-font-size);
    font-style: var(--form-font-style);
    font-weight: var(--form-font-weight);
    height: auto;
    max-width: 100%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
    width: 100%;
}

[data-input] {
    --input-active-button-background-color: var(--form-active-button-background-color);
    --input-active-button-foreground-color: var(--form-active-button-foreground-color);
    --input-background-color: var(--form-background-color);
    --input-button-background-color: var(--form-button-background-color);
    --input-button-focus-outline-color: var(--form-button-focus-outline-color);
    --input-button-foreground-color: var(--form-button-foreground-color);
    --input-font-size: var(--form-font-size);
    --input-font-style: var(--form-font-style);
    --input-font-weight: var(--form-font-weight);
    --input-foreground-color: var(--form-foreground-color);
    --input-input-background-color: var(--form-input-background-color);
    --input-input-border-color: var(--form-input-border-color);
    --input-input-focus-outline-color: var(--form-input-focus-outline-color);
    --input-input-font-size: var(--form-input-font-size);
    --input-input-font-style: var(--form-input-font-style);
    --input-input-font-weight: var(--form-input-font-weight);
    --input-input-foreground-color: var(--form-input-foreground-color);
    --input-input-invalid-border-color: var(--form-input-invalid-border-color);
    --input-input-padding: var(--form-input-padding);
    --input-label-background-color: var(--form-label-background-color);
    --input-label-font-size: var(--form-label-font-size);
    --input-label-font-style: var(--form-label-font-style);
    --input-label-font-weight: var(--form-label-font-weight);
    --input-label-foreground-color: var(--form-label-foreground-color);
    --input-label-margin: var(--form-label-margin);
    --input-label-opacity: var(--form-label-opacity);
    --input-subtitle-background-color: var(--form-subtitle-background-color);
    --input-subtitle-font-size: var(--form-subtitle-font-size);
    --input-subtitle-font-style: var(--form-subtitle-font-style);
    --input-subtitle-font-weight: var(--form-subtitle-font-weight);
    --input-subtitle-foreground-color: var(--form-subtitle-foreground-color);
    --input-subtitle-margin: var(--form-subtitle-margin);
    --input-subtitle-opacity: var(--form-subtitle-opacity);
}
