:root, :host {
    --filter-form-active-button-background-color: #000000;
    --filter-form-active-button-foreground-color: #ffffff;
    --filter-form-background-color: #ffffff;
    --filter-form-button-background-color: #000000;
    --filter-form-button-focus-outline-color: #000000;
    --filter-form-button-foreground-color: #ffffff;
    --filter-form-font-size: 16px;
    --filter-form-foreground-color: #000000;
    --filter-form-input-background-color: var(--filter-form-background-color);
    --filter-form-input-border-color: #000000;
    --filter-form-input-focus-outline-color: #000000;
    --filter-form-input-font-size: var(--filter-form-font-size);
    --filter-form-input-foreground-color: var(--filter-form-foreground-color);
    --filter-form-input-invalid-border-color: #ff0000;
    --filter-form-label-background-color: var(--filter-form-background-color);
    --filter-form-label-font-size: var(--filter-form-font-size);
    --filter-form-label-font-weight: bold;
    --filter-form-label-foreground-color: var(--filter-form-foreground-color);
}
