:root {
    --flux-form-active-button-background-color: var(--flux-color-scheme-foreground-color, #000000);
    --flux-form-active-button-foreground-color: var(--flux-color-scheme-background-color, #ffffff);
    --flux-form-background-color: var(--flux-color-scheme-background-color, #ffffff);
    --flux-form-button-background-color: var(--flux-color-scheme-accent-color, #000000);
    --flux-form-button-focus-outline-color: var(--flux-color-scheme-foreground-color, #000000);
    --flux-form-button-foreground-color: var(--flux-color-scheme-accent-color-foreground-color, #ffffff);
    --flux-form-foreground-color: var(--flux-color-scheme-foreground-color, #000000);
    --flux-form-input-background-color: var(--flux-color-scheme-background-color, #ffffff);
    --flux-form-input-border-color: var(--flux-color-scheme-foreground-color, #000000);
    --flux-form-input-focus-outline-color: var(--flux-color-scheme-foreground-color, #000000);
    --flux-form-input-foreground-color: var(--flux-color-scheme-foreground-color, #000000);
    --flux-form-input-invalid-border-color: #ff0000;
}
