:host {
    background-color: var(--flux-input-background-color);
    color: var(--flux-input-foreground-color);
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.label {
    font-size: 16px;
    font-weight: bold;
    height: auto;
    margin: 2px 0;
    width: 100%;
}

input, select, textarea {
    background-color: var(--flux-input-input-background-color);
    border: 1px solid var(--flux-input-input-border-color);
    border-radius: 0;
    box-sizing: content-box;
    color: var(--flux-input-input-foreground-color);
    cursor: default;
    font-family: unset;
    font-size: 16px;
    height: 25px;
    outline: none;
    padding: 2px 5px;
    width: calc(100% - 12px);
}

:is(input:not([type="hidden"]), select, textarea):not([hidden]) {
    display: block;
}

.container:not(:first-child) .label:empty + :is(input, select, textarea) {
    border-top: none;
}

:is(input:not([type="checkbox"]):not([type="color"]), textarea):not(:disabled):not([readonly]) {
    cursor: text;
}

:is(input[type="checkbox"], input[type="color"]):not(:disabled) {
    cursor: pointer;
}

.label:not(:empty) + :is(input, textarea)[readonly] {
    background-color: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

input[type="checkbox"] {
    width: 25px;
}

select[multiple] {
    height: auto;
}

textarea {
    height: 40px;
    min-height: 40px;
    resize: vertical;
}

.label:empty + :is(input, select, textarea):not(:disabled):invalid {
    border-bottom-color: var(--flux-input-input-invalid-border-color);
}

.label:not(:empty) + :is(input, select, textarea):not(:disabled):invalid {
    border-color: var(--flux-input-input-invalid-border-color);
}

:is(input, select, textarea):not(:disabled):not([readonly]):focus-visible {
    outline: 2px solid var(--flux-input-input-focus-outline-color);
    outline-offset: -2px;
}

:is(input, select, textarea):disabled {
    opacity: 0.6;
}

[data-form] {
    --flux-form-active-button-background-color: var(--flux-input-active-button-background-color);
    --flux-form-active-button-foreground-color: var(--flux-input-active-button-foreground-color);
    --flux-form-background-color: var(--flux-input-background-color);
    --flux-form-button-background-color: var(--flux-input-button-background-color);
    --flux-form-button-focus-outline-color: var(--flux-input-button-focus-outline-color);
    --flux-form-button-foreground-color: var(--flux-input-button-foreground-color);
    --flux-form-foreground-color: var(--flux-input-foreground-color);
    --flux-form-input-background-color: var(--flux-input-input-background-color);
    --flux-form-input-border-color: var(--flux-input-input-border-color);
    --flux-form-input-focus-outline-color: var(--flux-input-input-focus-outline-color);
    --flux-form-input-foreground-color: var(--flux-input-input-foreground-color);
    --flux-form-input-invalid-border-color: var(--flux-input-input-invalid-border-color);
}

button {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--flux-input-button-background-color);
    border: none;
    border-radius: 0;
    color: var(--flux-input-button-foreground-color);
    cursor: default;
    font-family: unset;
    height: 22px;
    outline: none;
    width: 22px;
}

button:not(:disabled) {
    cursor: pointer;
}

button:not(:disabled):focus-visible {
    outline: 2px solid var(--flux-input-button-focus-outline-color);
    outline-offset: -2px;
}

button:disabled {
    opacity: 0.6;
}

button:not(:disabled):active {
    background-color: var(--flux-input-active-button-background-color);
    color: var(--flux-input-active-button-foreground-color);
}

@media (hover: hover) {
    button:not(:disabled):hover {
        background-color: var(--flux-input-active-button-background-color);
        color: var(--flux-input-active-button-foreground-color);
    }
}

.subtitle {
    font-size: 14px;
    font-style: italic;
    height: auto;
    margin: 2px 0;
    opacity: 0.9;
    width: 100%;
}

.container {
    align-items: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    height: auto;
    width: 100%;
}

.container button {
    flex-grow: 0;
	flex-shrink: 0;
}

.container :is([data-form], input:not([type="checkbox"]), select, textarea) {
    flex-grow: 1;
    flex-shrink: 1;
    width: 0;
}

:is(.label, .subtitle):empty {
    display: none;
}
