:root, :host {
    --form-active-button-background-color: #000000;
    --form-active-button-foreground-color: #ffffff;
    --form-background-color: #ffffff;
    --form-button-background-color: #000000;
    --form-button-focus-outline-color: #000000;
    --form-button-foreground-color: #ffffff;
    --form-font-size: 16px;
    --form-font-style: normal;
    --form-font-weight: normal;
    --form-foreground-color: #000000;
    --form-input-background-color: var(--form-background-color);
    --form-input-border-color: #000000;
    --form-input-focus-outline-color: #000000;
    --form-input-font-size: var(--form-font-size);
    --form-input-font-style: var(--form-font-style);
    --form-input-font-weight: var(--form-font-weight);
    --form-input-foreground-color: var(--form-foreground-color);
    --form-input-invalid-border-color: #ff0000;
    --form-input-padding: 2px 5px;
    --form-label-background-color: var(--form-background-color);
    --form-label-font-size: var(--form-font-size);
    --form-label-font-style: var(--form-font-style);
    --form-label-font-weight: bold;
    --form-label-foreground-color: var(--form-foreground-color);
    --form-label-margin: 2px 0;
    --form-label-opacity: 0.9;
    --form-subtitle-background-color: var(--form-background-color);
    --form-subtitle-font-size: 14px;
    --form-subtitle-font-style: italic;
    --form-subtitle-font-weight: var(--form-font-weight);
    --form-subtitle-foreground-color: var(--form-foreground-color);
    --form-subtitle-margin: 2px 0;
    --form-subtitle-opacity: 0.9;
}
