:root, :host {
    --input-active-button-background-color: #000000;
    --input-active-button-foreground-color: #ffffff;
    --input-background-color: #ffffff;
    --input-button-background-color: #000000;
    --input-button-focus-outline-color: #000000;
    --input-button-foreground-color: #ffffff;
    --input-font-size: 16px;
    --input-font-style: normal;
    --input-font-weight: normal;
    --input-foreground-color: #000000;
    --input-input-background-color: var(--input-background-color);
    --input-input-border-color: #000000;
    --input-input-focus-outline-color: #000000;
    --input-input-font-size: var(--input-font-size);
    --input-input-font-style: var(--input-font-style);
    --input-input-font-weight: var(--input-font-weight);
    --input-input-foreground-color: var(--input-foreground-color);
    --input-input-invalid-border-color: #ff0000;
    --input-input-padding: 2px 5px;
    --input-label-background-color: var(--input-background-color);
    --input-label-font-size: var(--input-font-size);
    --input-label-font-style: var(--input-font-style);
    --input-label-font-weight: bold;
    --input-label-foreground-color: var(--input-foreground-color);
    --input-label-margin: 2px 0;
    --input-label-opacity: 0.9;
    --input-subtitle-background-color: var(--input-background-color);
    --input-subtitle-font-size: 14px;
    --input-subtitle-font-style: italic;
    --input-subtitle-font-weight: var(--input-font-weight);
    --input-subtitle-foreground-color: var(--input-foreground-color);
    --input-subtitle-margin: 2px 0;
    --input-subtitle-opacity: 0.9;
}
